:root {
  --bg-accent: rgb(22 163 74);
  --white: rgb(241 245 249);
  --black: rgb(3 7 18);
  --sky-blue: rgb(14 165 233);
}

.recipe-cards {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 16px;
}
