.Recipe {
  max-width: 400px;
}

.heading-container {
  padding: 4px 0;
  text-align: center;
}

.recipe-name {
  display: inline;
}

.description {
  max-width: 100%;
  padding: 8px 0;
}

.more-options {
  border: none;
  border-radius: 1em;
  float: right;
}

.more-options:hover {
  cursor: pointer;
}

.recipe-action.btn {
  margin: 0;
}

.recipe-action {
  background-color: var(--sky-blue);
  color: var(--white);
  text-decoration: none;  
}

.recipe-options-list {
  display: flex;
  justify-content: center;
}

.recipe-option {
  background-color: rgb(226 232 240);
  list-style-type: none;  
  padding: 0;
  margin: 4px 0;
}

.recipe-option > a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}

.recipe-option > a:hover {
  cursor: pointer;
}

.edit {
  color: var(--white);
  background-color: var(--green);
}

.edit:hover {
  cursor: pointer;
}

.delete {
  color: var(--red);
}