.Recipe {
  text-align: center;
  max-width: 400px;
}

.recipe-name,
.more-options {
  display: inline;
}

.more-options {
  border: none;
  border-radius: 1em;
  float: right;
}

.more-options:hover {
  cursor: pointer;
}

.recipe-actions {
  margin: 8px;
  padding: 8px;
}

.recipe-action {
  background-color: var(--sky-blue);
  color: var(--white);
  text-decoration: none;  
}

.recipe-option {
  background-color: rgb(226 232 240);
  list-style-type: none;  
  padding: 0;
  margin: 4px 0;
}

.recipe-option > a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}

.recipe-option > a:hover {
  cursor: pointer;
}

.edit {
  color: var(--sky-blue);
}

.edit:hover {
  cursor: pointer;
}

.delete {
  color: #dc2626;
}