* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: rgb(167 243 208);
}

#root {
  position: relative;
  min-height: 100vh;
}

p {
  font-size: 1.125em;
}

.card {
  background-color: rgb(241 245 249);
  padding: 8px 12px;
  margin: 8px;
  box-shadow: 0 0 8px rgb(0 0 0 / 0.1);
  transition: box-shadow 0.6s ease;
}

.card:hover {
  box-shadow: 0 0 12px rgb(0 0 0 / 0.3);
  cursor: pointer;
}

.image-container > img {
  width: 100%;
}
